<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
	<script type="module" th:src="@{/js/operation/help.js}"></script>
	<link rel="stylesheet" th:href="@{/css/operation/help.css}">
</head>

<body>
	<section layout:fragment="content">
		<h2>자주 묻는 질문 (FAQ)</h2>
		<div class="search-container">
			<form id="faq-form" style="margin-bottom: 20px;">
				<input id="faq-search" type="text" placeholder="검색어를 입력하세요." class="search-input-text search-input" />
				<button type="submit" class="btn btn-primary" id="faq-search-btn"
						style="margin-left: 10px; padding: 8px 12px;">검색</button>
			</form>
		</div>

		<div id="faq-list">
			<!-- FAQ 목록이 여기에 렌더링됨 -->
		</div>
	</section>
</body>

</html>
