<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<body>
<section layout:fragment="content">
    <div class="login-form">
        <h2>로그인</h2>
        <div th:if="${param.error}" class="form-group">
            <span th:text="${exception}?: '잘못된 아이디나 암호입니다'" class="alert alert-danger"></span>
        </div>
        <form th:action="@{/login}" method="post">
            <input type="hidden"
                   th:value="'wHlFMltmbMCxR63/G1xueQl5DwtYwUBXXcmeYcSE8ril2FpMqT2VTVPzCJiK7zXY24MlWwWpVfgspISEQdKpnw=='"
                   name="secret_key"/>
            <div class="form-group">
                <label for="username">아이디</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">패스워드</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</section>
</body>
</html>
