
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <script type="module" th:src="@{/js/design/code/test_manage.js}"></script>
</head>

<body>
<section layout:fragment="content">
    <h2>테스트 시나리오</h2>

    <!--출력 버튼 클릭 시 체크박스에 선택된 데이터가 없다면 전체 데이터 다운로드, 체크박스 선택된 데이터가 존재 시 선택된 데이터 다운로드-->
    <!--시나리오의 경우 2가지 형식의 데이터가 존재 가능 통합테스트 시나리오 / 단위테스트 시나리오-->

    <div id="gridContainer">
        <div th:replace="~{fragments/grid :: grid('codeRuleGrid', '/api/selectCodeRule', 'P', null)}"></div>
    </div>
</section>
</body>
</html>
