@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./roboto-light.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./roboto-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./roboto-medium.woff2') format('woff2');
}
