<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/system/project_manage.css}">
    <script type="module" th:src="@{/js/system/project/project_manage.js}"></script>
</head>

<body>
<section layout:fragment="content">
    <h2>프로젝트 관리</h2>
    <div class="button-project-container">
        <div class="left-group">
            <label for="projectSelector">프로젝트 선택</label>
            <select id="projectSelector" class="search-column-select">
                <option th:each="project : ${projects}"
                        th:value="${project.id}"
                        th:data-active="${project.isActive}"
                        th:text="${project.projectName}"
                        th:data-autoactive="${project.isAutoActive}">
                </option>
            </select>
        </div>

        <div class="right-group">
            <button id="btn-project-add" class="btn btn-primary">프로젝트 등록</button>
            <button id="btn-project-edit" class="btn btn-primary">프로젝트 관리</button>
            <button id="btn-project-delete" class="btn btn-secondary">프로젝트 삭제</button>
        </div>
    </div>



    <!-- 그리드 영역 -->
    <div id="gridContainer">
        <div th:replace="~{fragments/grid :: grid('projectMemberGrid', '/api/getProject/0', ${crudActions}, null)}"></div>
    </div>

</section>
</body>
</html>
