<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <script type="module" th:src="@{/js/system/user/user_manage.js}"></script>
</head>

<body>
<section layout:fragment="content">
    <h2>사용자 관리</h2>

    <!-- 그리드 영역 -->
    <div id="gridContainer">
        <div th:replace="~{fragments/grid :: grid('userTable', '/api/selectUser', 'ud', null)}"></div>
    </div>
</section>
</body>
</html>
