<aside th:fragment="sidebar">
    <div class="list-group list-group-flush" style="height: 100%; background-color: #f8f9fa;">
        <a href="/" class="list-group-item list-group-item-action">대시보드</a>
        <a href="/meta" class="list-group-item list-group-item-action">메타데이터</a>
        <a href="/codeRule" class="list-group-item list-group-item-action">코드규칙</a>
        <a href="/designTestManage" class="list-group-item list-group-item-action">설계서/시나리오</a>
        <a href="/manage" class="list-group-item list-group-item-action">사용자관리</a>
        <a href="/systemLog" class="list-group-item list-group-item-action">시스템로그</a>
        <a href="/help" class="list-group-item list-group-item-action">도움말</a>
    </div>
</aside>
