<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>MetaGen</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/js/jquery-ui-1.14.1.custom/jquery-ui.css}">

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/dataTables.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.14.1.custom/jquery-ui.js}"></script>

    <link th:href="@{/fonts/roboto.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet">

    <script th:src="@{/js/layout.js}"></script>
</head>
<body>
<div class="page-container">
    <!-- Header -->
    <div th:replace="~{fragments/header::header}"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Sidebar -->
        <aside class="sidebar" th:replace="~{fragments/sidebar::sidebar}"></aside>

        <dialog id="myAlert">
            <h3>알림</h3>
            <p id="alertContent" style="white-space: pre-line">여기에 내용이 표시됩니다.</p>
            <div class="button-container">
                <button onclick="closeDialog('alert', true)" class="close">닫기</button>
            </div>
        </dialog>

        <dialog id="myConfirm">
            <h3>알림</h3>
            <p id="confirmContent" style="white-space: pre-line">여기에 내용이 표시됩니다.</p>
            <div class="button-container">
                <button onclick="closeDialog('confirm', true)" class="confirm">확인</button>
                <button onclick="closeDialog('confirm', false)" class="close">닫기</button>
            </div>
        </dialog>

        <dialog id="mainConfirm">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3 id="mainDialogTitle">알림</h3>
                <button onclick="closeDialog('div', true)" class="close-btn" aria-label="닫기">&times;</button>
            </div>
            <div id="mainDialogContent"></div>
        </dialog>

        <!-- Main Section -->
        <div class="content">
            <section layout:fragment="content"></section>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer::footer}"></footer>

    <div id="loading-bar" style="display: none;">
        <div class="loading-spinner"></div>
    </div>
</div>
</body>
</html>
