<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>MetaGen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MetaGen은 메타데이터를 관리하고 표준화하는 시스템입니다.">

    <!-- Open Graph 메타태그 (카카오톡, 페북 등 미리보기용) -->
    <meta property="og:title" content="MetaGen - 메타데이터 표준관리 플랫폼" />
    <meta property="og:description" content="데이터 표준화를 위한 설계부터 관리까지, MetaGen에서 한 번에 해결하세요!" />
    <meta property="og:image" content="https://raw.githubusercontent.com/meta-gen/metagen/main/src/main/resources/static/images/metagen.png" />
    <!--<meta property="og:url" content="https://github.com/meta-gen/metagen" />-->
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/js/jquery-ui-1.14.1.custom/jquery-ui.css}">

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/dataTables.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.14.1.custom/jquery-ui.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>

    <link th:href="@{/fonts/roboto.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet">

    <script type="module" th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/layout.js}"></script>

</head>
<body>
<div class="page-container">
    <!-- Header -->
    <div th:replace="~{fragments/header::header}"></div>

    <!-- Main Content -->
    <div class="main-content">
        <input type="hidden" id="hidden-user-id">
        <!-- 모바일 사이드바 (처음엔 숨김 상태) -->
        <aside class="sidebar mobile-sidebar d-none d-md-block" th:replace="~{fragments/sidebar::sidebar}"></aside>

        <!-- 모바일용 토글 버튼 -->
        <button id="sidebarToggleBtn" class="sidebar-toggle-btn" onclick="toggleSidebar()"></button>

        <dialog id="myAlert">
            <h3>알림</h3>
            <p id="alertContent" style="white-space: pre-line">여기에 내용이 표시됩니다.</p>
            <div class="popup-button-container">
                <button onclick="closeDialog('alert', true)" class="close">닫기</button>
            </div>
        </dialog>

        <dialog id="myConfirm">
            <h3>알림</h3>
            <p id="confirmContent" style="white-space: pre-line">여기에 내용이 표시됩니다.</p>
            <div class="popup-button-container">
                <button onclick="closeDialog('confirm', true)" class="confirm">확인</button>
                <button onclick="closeDialog('confirm', false)" class="close">닫기</button>
            </div>
        </dialog>

        <dialog id="mainConfirm">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3 id="mainDialogTitle">알림</h3>
                <button onclick="closeDialog('div', true)" class="close-btn" aria-label="닫기">&times;</button>
            </div>
            <div id="mainDialogContent"></div>
        </dialog>

        <!-- Main Section -->
        <div class="content">
            <section layout:fragment="content"></section>
        </div>
    </div>

    <div id="chat-box" class="chat-box" style="display: none;">
        <div class="chat-header">
            <span id="chat-target">채팅</span>
            <button onclick="closeChat()" class="close-btn">×</button>
        </div>
        <div class="chat-messages" id="chat-messages"></div>
        <form class="chat-input" id="chat-form">
            <input type="text" id="chat-input" placeholder="메시지를 입력하세요" autocomplete=off/>
            <button type="submit" class="btn btn-primary" id="submit-btn">전송</button>
        </form>
    </div>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer::footer}"></footer>

    <div id="loading-bar" style="display: none;">
        <div class="loading-spinner"></div>
    </div>
</div>
</body>
</html>
