<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="module">
        import {setupAjaxCsrf} from "/js/csrf.js";

        $(document).ready(function () {
            setupAjaxCsrf();

            // 사용자명 변경 클릭 시
            $('#changeNameBtn').on('click', function (event) {
                event.preventDefault();

                const name = $('#name').val();
                if (name === "") {
                    alert('사용자명을 입력해주세요.');
                    return;
                }

                $.ajax({
                    url: '/updateName', // 사용자명 변경 URL
                    type: 'POST',
                    data: JSON.stringify({ name }),
                    success: function (response) {
                        if (response === 'success') {
                            alert('사용자명이 성공적으로 변경되었습니다.');
                            location.reload(); // 새로고침
                        }
                    },
                    error: function (xhr) {
                        const errorMessage = xhr.responseJSON?.message || '사용자명 변경 중 문제가 발생했습니다.';
                        alert(errorMessage);
                    }
                });
            });

            // 비밀번호 변경 클릭 시
            $('#changePasswdBtn').on('click', function (event) {
                event.preventDefault();

                // 폼 요소 선택
                const currentPassword = $('#changedPasswd').val(); // 변경 비밀번호
                const confirmPassword = $('#changedPasswd2').val(); // 비밀번호 확인
                const password = $('#password').val(); // 현재 비밀번호

                // 비밀번호 확인 로직
                if (currentPassword !== confirmPassword) {
                    alert('비밀번호가 일치하지 않습니다.');
                    return;
                }

                if (currentPassword === password) {
                    alert('동일한 비밀번호로 변경은 불가능합니다.');
                    return;
                }

                if (password.trim() === '') {
                    alert('비밀번호를 입력해주세요.');
                    return;
                }

                $.ajax({
                    url: '/updatePwd', // 비밀번호 변경 URL
                    type: 'POST',
                    data: JSON.stringify({
                        password,
                        currentPassword
                    }),
                    success: function (response) {
                        if (response === 'success') {
                            alert('비밀번호가 성공적으로 변경되었습니다.');
                            window.location.href = '/logout';
                        }
                    },
                    error: function (xhr) {
                        const errorMessage = xhr.responseJSON?.message || '비밀번호 변경 중 문제가 발생했습니다.';
                        alert(errorMessage);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div th:replace="~{layout/header::header}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <div th:replace="~{layout/sidebar::sidebar}"></div>
        </div>
        <div class="col-md-10 content">
            <div class="account">
                <h2>내정보</h2>
                <hr/>
                <div>
                    ID : <span th:text="${account.username}"></span>
                </div>
                <hr/>
                <div>
                    권한 : <span th:text="${account.roleName}"></span>
                </div>
                <hr/>
                <form id="chnageNameForm" th:action="@{/updateName}" method="post">
                    <div class="form-group">
                        <label for="name">사용자명</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${account.name}">
                    </div>
                    <button id="changeNameBtn" type="button" class="btn btn-primary">사용자명 변경</button>
                </form>
                <hr/>
                <form id="changedPasswdForm" th:action="@{/updatePwd}" method="post">
                    <div class="form-group">
                        <label for="password">현재 비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="changedPasswd">변경 비밀번호</label>
                        <input type="password" class="form-control" id="changedPasswd" name="changedPasswd">
                    </div>
                    <div class="form-group">
                        <label for="changedPasswd2">변경 비밀번호 확인</label>
                        <input type="password" class="form-control" id="changedPasswd2" name="changedPasswd2">
                    </div>
                    <button id="changePasswdBtn" type="button" class="btn btn-primary">비밀번호 변경</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="~{layout/footer::footer}"></div>
</body>
</html>
