.question-label {
    color: #0d6efd; /* Bootstrap 기본 primary 색상 */
    font-weight: 600;
    margin-right: 6px;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #212529 !important;
    box-shadow: none !important;
    border-color: #dee2e6; /* 기본 테두리로 */
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
    outline: none !important;
}
