<html>
<head>
    <title>MetaGen</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/js/jquery-ui-1.14.1.custom/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.14.1.custom/jquery-ui.js}"></script>
    <script type="module" th:src="@{/js/popup/notice_popup_save.js}"></script>

    <link th:href="@{/fonts/roboto.css}" rel="stylesheet">
</head>

<body>
    <div class="popup-container">
        <div class="popup-header">
            <h1 id="notice_title">공지사항 등록</h1>
            <p style="font-size: 0.9rem; color: #666; margin-top: 4px;">
                공지사항을 등록합니다.
            </p>
        </div>

        <div class="button-container" style="justify-content:flex-end; display: flex;">
			<button class="btn btn-secondary" id="edit-button">편집</button>
            <button class="btn btn-primary" id="save-button" hidden>저장</button>
        </div>

        <form id="editNoticeForm" class="popup-form">
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="projectId" name="projectId" />
            <input type="hidden" id="id" name="id"/>
			
			<div class="form-group">
	            <label for="title">공지사항 제목</label>
	            <input type="text" id="title" class="form-control" name="title" required readonly/>
	        </div>
			<div class="form-group">
	            <label for="content">공지사항 내용</label>
	            <textarea id="content" class="form-control" name="content" style="height: 300px;" readonly></textarea>
	        </div>
			<!--<div class="form-group">
	            <label for="noticeFile">파일 등록</label>
	            <input type="file" class="form-control" name="file" id="noticeFile" disabled/>
	        </div>-->
        </form>
    </div>
</body>
</html>
