<html>
<head>
    <title>MetaGen</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/js/jquery-ui-1.14.1.custom/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.14.1.custom/jquery-ui.js}"></script>

    <link th:href="@{/fonts/roboto.css}" rel="stylesheet">
</head>

<body>
<div class="popup-container">
    <div class="popup-header">
        <h1 th:text="${notice.title}"></h1>
    </div>

    <form class="popup-form">
        <div class="form-group">
            <div style="display: flex; align-items: center; white-space: nowrap; gap: 6px;">
                <span style="font-weight: bold;">조회수</span>
                <span th:text="${notice.hitCount}" style="min-width: 30px; text-align: right;"></span>
            </div>
        </div>

        <div class="form-group">
            <label style="font-weight: bold;" for="content">공지사항 내용</label>
            <textarea id="content" class="form-control" name="content" style="height: 500px;" readonly
                      th:text="${notice.content}"></textarea>
        </div>

    </form>
</div>
</body>
</html>
