<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>MetaGen</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/js/jquery-ui-1.14.1.custom/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/dataTables.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.14.1.custom/jquery-ui.js}"></script>
    <script th:src="@{/js/popup/standard_term_search.js}"></script>

    <link th:href="@{/fonts/roboto.css}" rel="stylesheet">
</head>

<body>
    <div class="popup-container">
        <div class="popup-header">
            <h1>표준 용어 상세</h1>
            <p style="font-size: 0.9rem; color: #666; margin-top: 4px;">
                입력한 용어를 <strong>띄어쓰기 기준</strong>으로 나누어 표준 단어를 검색합니다.<br>
                예: <code>사용자 이름 나이</code><br>
                <strong>※ 마지막 단어는 도메인에 등록된 단어여야 등록이 가능합니다.</strong>
            </p>
        </div>

        <form class="popup-form">
            <div class="form-row">
                <div class="input-button-group" style="margin-bottom: 16px">
                    <input type="text" id="term_word_text" class="form-control" placeholder="예: 사용자 이름 나이" style="flex: 1;" />
                    <button type="button" class="button btn btn-primary" id="search-btn">검색</button>
                </div>
                <input type="text" id="standard_term_result_text" class="form-control" placeholder="자동 생성된 표준 용어명" readonly />

                <input type="hidden" id="hidden-abbreviation">
                <input type="hidden" id="hidden-domain-name">
                <input type="hidden" id="hidden-allowed-values">
                <input type="hidden" id="hidden-storage-format">
                <input type="hidden" id="hidden-display-format">
                <input type="hidden" id="hidden-synonyms">

            </div>

            <div class="form-group mt-3">
                <label for="domain-select">도메인 선택</label>
                <select id="domain-select" class="form-control">
                </select>
            </div>

            <div class="popup-actions" style="margin-top: 20px; text-align: right;">
                <button type="button" class="btn btn-secondary" onclick="window.close();">닫기</button>
                <button type="button" class="btn btn-primary" id="confirm-btn" disabled style="display: none">확인</button>
            </div>
        </form>
    </div>
</body>
</html>
